* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* header */

#header {
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: #f2f2f2;
  padding: 5px;
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #header {
    display: none;
  }
}

@media all and (min-width: 50px) and (max-width: 480px) {
  #header {
    display: none;
  }
}

/* container */

#container {
  width: 33%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}


h1, h2 {
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
  width: 100%;
}

.mail {
  width: 100%;
  box-sizing: border-box;
  background-color: #221f20;
  color: #f2f2f2;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mail p {
  font-size: 15px;
  margin-top: 12px;
}

.img {
  width: 12%;
  margin: auto;
  margin-top: 20px;
}

.img img {
  width: 100%;
}

@media all and (min-width: 481px) and (max-width: 800px) {
  #container {
    width: 70%;
  }
}

@media all and (min-width: 50px) and (max-width: 480px) {
  #container {
    width: 90%;
  }

  .img {
    width: 15%;
  }

  mail p {
    font-size: 14px;
  }
}


/* footer */

footer {
  margin-top: 50px;
  width: 100%;
  background-color: #221f20;
  color: #ffffff80;
  font-size: 14px;
  line-height: 30px;
}

#footerMain {
  width: 85%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}

#footerBottom {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ffffff80;
}

footer p:hover {
  color: #f2f2f2;
}

.white {
  color: #f2f2f2;
}

.social {
  color: #f2f2f2;
}

.social div {
  display: flex;
  gap: 10px;
  font-size: 18px;
  margin-top: 10px;
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #footerMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-top: 40px;
  }
}

@media all and (min-width: 50px) and (max-width: 480px) {
  #footerMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding-top: 30px;
  }
}
